{% extends 'base.html' %}
{% load static %}



{% block section %}
 <h2>Usuarios</h2>
 <h2><a href="{% url "user-create"  %}" class="btn btn-primary">create</a></h2>
 <hr>
{% endblock section %}

{% block maincontent %}
<div class="card-deck">
   {% for c in object_list %}
     <div class="card">
       <img src="{% static c.photo.url %}" class="card-img-top" style="width:90px;height:120px" />
       <div class="card-body">
         <h5 class="card-title">{{ c.first_name }}</h5>
         <p class="card-text">{{ c.last_name }}</p>
         <p class="card-text">{{ c.email }}</p>
         <a href="{% url 'user-detail' c.pk %}" class="btn btn-primary">Ver detalles</a>
       </div>
     </div>
   {% endfor %}
 </div>


  <style>
   .card:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
      
   }
   .card-img-top {
      margin: 20px;
    }

   .card {
      max-width: 280px;
      max-height: 330px;
      width: 200px;
      height: 330px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      border: 2px solid #085E81;
      border-style: solid;
   }

   .btn {
      background-color: #085E81;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 5px;
      }
   </style>
{% endblock maincontent %}

